<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>appCoches</h1>
    <h2>Editar Coche</h2>
    <nav>
      <a href="/">Inicio</a>
      <a href="/insertarUsuario">Insertar Usuario</a>
      <a href="/listarUsuario">Listar Usuario</a>
      <a href="/insertarCoche">Insertar Coches</a>
      <a href="/listarCoche">Listar Coches</a>
    </nav>
        <form action="/editarCoche/ <%= data.id %>" method="post">
          <p>
            <label for="marca">marca</label><br>
            <input type="text" name="marca" value="<%= data.marca %>">
          </p>
          <p>
            <label for="modelo">modelo</label><br>
            <input type="text" name="modelo" value="<%= data.modelo %>">
          </p>
          <p>
            <label for="url">url</label><br>
            <input type="text" name="url" value="<%= data.url %>">
          </p>
          <input type="submit" value="Modifica los datos">
        </form>
        
  </body>
</html>
