<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>appCoches</h1>
    <h2>Inicio</h2>
    <nav>
      <a href="/">Inicio</a>
      <a href="/insertarUsuario">Insertar Usuario</a>
      <a href="/listarUsuario">Listar Usuarios</a>
      <a href="/insertarCoche">Insertar Coche</a>
      <a href="/listarCoche">Listar Coches</a>
    </nav>
  </body>
</html>
