<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>appCoches</h1>
    <h2>listarUsuarios</h2>
    <nav>
      <a href="/">Inicio</a>
      <% if(!user){ %>
        <a href="/insertarUsuario">Insertar Usuario</a>
        <a href="/listarUsuario">Listar Usuario</a>
        <a href="/login">Login</a>
        <% }%>
      
      <% if(user){ %>
      <a href="/insertarCoche">Insertar Coches</a>
      <a href="/listarCoche">Listar Coches</a>
      <a href="/logout">Logout</a>
      <% }%>
    </nav>
    <% for(let i=0; i < data.length; i++){ %>
      <div>
        <h3> <%= data[i].username %> </h3>
      <h3> <%= data[i].email %> </h3>
      <button> <a href="/editarUsuario/ <%= data[i].id %>">Editar </a></button>
      <button> <a href="/borrarUsuario/ <%= data[i].id %>">Borrar </a></button>
      </div>
      
    <% } %>
    
  </body>
</html>
