<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>appCoches</h1>
    <h2>listarUsuarios</h2>
    <nav>
      <a href="/">Inicio</a>
      <a href="/insertarUsuario">Insertar Usuario</a>
      <a href="/listarUsuario">Listar Usuario</a>
      <a href="/insertarCoche">Insertar Coches</a>
      <a href="/listarCoche"></a>
    </nav>
    <% for(let i=0; i < data.length; i++){ %>
      <h3> <%= data[i].username %> </h3>
      <h3> <%= data[i].email %> </h3>
      <button> <a href="/editar/ <%= data[i].id %>">Editar </a></button>
      <button> <a href="/editar/ <%= data[i].id %>">Editar </a></button>
    <% } %>
    <div>
      <h3> </h3>
    </div>
  </body>
</html>
